@font-face {
    font-family: 'Playfair Display - Regular';
    src: url(../fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf);
}

@font-face {
    font-family: 'Playfair Display - Italic';
    src: url(../fonts/Playfair_Display/static/PlayfairDisplay-Italic.ttf);
}

@font-face {
    font-family: 'Poppins - SemiBold';
    src: url(../fonts/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: 'Poppins - Light';
    src: url(../fonts/Poppins/Poppins-Light.ttf);
}

@font-face {
    font-family: 'Poppins - Regular';
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'Roboto - Regular';
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto - Medium';
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: 'Roboto - Light';
    src: url(../fonts/Roboto/Roboto-Light.ttf);
}